#adminLog {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 5px;
    margin: 10px;
}

#logWeekThemeAdmin {
    background-color: #ccd8ff;
    text-align: center;
    display: grid;
    grid-template-rows: 0.3fr 1.5fr 4fr;
}

#studName {
    font-size: x-large;
    font-family: Impact, "Arial Narrow Bold", sans-serif;
    margin-left: 20px;
    padding-top: 20px;
}





#checkboxContainer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 5px;
}

#writeQuestion {
    margin: 5px;
}

#questionText {
    width: 99%;
}

#addnow {
    background-color: #ff7b00;
    margin: 2px;
    border-radius: solid rgb(203, 214, 238) 10px;
}

.large {
    font-size: 110%;
}

.checkbox {
    float: right;
    width: 20px;
    height: 20px;
    margin: 10px;
}

