#elevLogView {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 5px;
    margin: 10px;
}

#logWeekThemeElev {
    background-color: #aabeff;
    text-align: center;
    display: grid;
    grid-template-rows: 0.3fr 1.5fr 4fr;
}
  
#writeLog {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

#logInputs {
    background-color: rgb(203, 214, 238);
    height: 100%;
}

#Questions {
    margin: 20px;
    background: rgb(148, 168, 182);
    height: 200px;
    border-radius: 4mm;
}

#Qheader {
    background: #ff7b00;
    color: aliceblue;
    height: 25px;
    text-align: center;
    padding-top: 7px;
    border-top-left-radius: 4mm;
    border-top-right-radius: 4mm;
}

.questReply {
    margin: 10px;
    width: 95%;
    height: 50%;
    padding: 2mm;
}

#Qcomment {
    margin: 10px;
    height: 20px;
    width: 98%;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    height: 28cm;
}

/* The slider itself */
.slider {
    margin: 50px;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 70%; /* Full-width */
    height: 25px; /* Specified height */
    background: #f0f0f0; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

.inlineSlider {
    display: inline-block;
}

.sliderUpdateDiv {
    background: #ff7b00;
    opacity: 0.7;
    font-size: 30px;
    width: fit-content;
    border: 1px solid lightgrey;
    padding: 0.2%;
    border-radius: 5%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sliderUpdateDivText {
    background: #ff7b00;
    font-weight: bold;
    width: 4.3vw;
    text-align: center;
    padding: 1%;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ff7b00; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #ff7b00; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
