#elevLogView {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 5px;
}

#logWeekThemeElev {
  background-color: #aabeff;
  text-align: center;
  display: grid;
  grid-template-rows: 0.3fr 1.5fr 4fr;
}

#writeLog {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

#logInputs {
  background-color: lightgrey;
  height: 90%;
}

#Questions {
  margin: 20px;
  background: rgb(148, 168, 182);
  height: 200px;
}

#Qheader {
  background: #ff7b00;
  color: aliceblue;
  height: 25px;
  text-align: center;
  padding-top: 7px;
}

#Qreply {
  margin: 10px;
  width: 98%;
  height: 50%;
}

#Qcomment {
  margin: 10px;
  height: 20px;
  width: 98%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  margin: 50px;
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 70%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.inlineSlider {
  display: inline-block;
}

.sliderUpdateDiv {
  background: #04aa6d;
  opacity: 0.7;
  font-size: 30px;
  width: fit-content;
  border: 1px solid lightgrey;
  padding: 0.2%;
  border-radius: 5%;
  margin-right: 20px;
  margin-bottom: 20px;
}

.sliderUpdateDivText {
  background: #04aa6d;
  font-weight: bold;
  width: 4.3vw;
  text-align: center;
  padding: 1%;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04aa6d; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
