/* Login Page */
body {
  background-color: gainsboro;
  font-family: Helvetica;
}

#LoginPage {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  margin: auto;
  width: 200px;
  margin-top: 250px;
}

#logo {
  text-align: center;
  width: 200px;
  height: 100px;
}

.logInput {
  width: 200px;
  height: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
}

/* Navigattion Bar */
div.headerWrap {
  background-color: rgb(17, 17, 17);
  color: white;
  margin: 10px;
  text-align: center;
}

div.headerTop {
  height: 60px;
  padding: 10px;
}

div.headerBot {
  background-color: rgb(146, 172, 255);
  height: 40px;
}

.navBar {
  height: 40px;
}

.navBar a.aHeader {
  color: rgb(255, 255, 255);
  float: left;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

.floatRight {
  float: right;
}

.navbar:hover a:hover {
  background-color: rgb(47, 0, 255);
}

.hoverRed:hover a:hover {
  background-color: rgb(255, 145, 1);
  color: white;
  height: 16px;
}

a.aHeader:hover {
  color: rgb(56, 56, 56);
}
/* End Navigation Bar */

/* admin dash */

h2 {
  margin-top: 0;
}

#weekTheme {
  background-color: #aabeff;
  /*margin-right: 10%;*/
}

#adminDashPage {
  display: grid;
  gap: 10px;
  margin: 10px;
  grid-template-columns: 2fr 8fr;
}

#weekThemeElev {
  grid-area: weekThemeElev;
  background-color: #aabeff;
  text-align: center;
  display: grid;
  grid-template-rows: 0.3fr 1.5fr 4fr;
}

#calendar {
  margin: 5px;
  border: solid black 2px;
  width: auto;
}

#pinnedWeekThemeModul2 {
  margin: 5px;
  border: solid black 2px;
  background-color: rgba(24, 64, 83, 0.6);
  color: white;
  width: auto;
}

#logWeek {
  grid-area: logWeek;
}

#chatNotes {
  grid-area: chatNotes;
}

#elevDashPage {
  margin: 10px;
  display: grid;
  gap: 10px;
  /*margin: 10px;*/
  /*grid-template-columns: 2fr 8fr;*/
  grid-template-areas:
    "weekThemeElev logWeek logWeek logWeek logWeek logWeek"
    "weekThemeElev chatNotes chatNotes chatNotes chatNotes chatNotes";
}

#logWeek {
  display: grid;
  background-color: #aabeff;
  height: 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 2mm;
}

#chatNotes {
  background-color: gray;
  height: 300px;
}

.logdays {
  background-color: rgb(236, 232, 232);
  text-align: center;
  padding-top: 10px;
}

.logdays:hover {
  background-color: rgb(250, 175, 114);
  color: white;
}

.moduler {
  background-color: gray;
  min-height: 20px;
  margin-bottom: 20px;
}

.modulHeader {
  min-height: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: black 2px 2px;
  text-align: center;
}

#mHeader {
  background-color: rgb(255, 123, 0);
  color: rgb(255, 255, 255);
}

#teamHeader {
  color: rgb(255, 255, 255);
  background-color: rgb(87, 100, 129);
}

#teamContainer {
  background-color: rgb(255, 255, 255);
  margin: 5px;
  width: 200px;
  border: solid black 2px;
  box-shadow: black 2px 2px;
}

.innerModulGrid {
  min-height: 100px;
  background-color: lightgrey;
}

.collapse {
  display: none;
}

.changeDisplay {
  display: flex;
}

/* AdminQ */

.modulbox {
  margin-top: 1mm;
  margin-left: 1mm;
  background-color: rgb(255, 179, 136);
  border: solid black 2px;
  width: 5cm;
}

.dropbox {
  margin-top: 1mm;
  margin-left: 1mm;
  background-color: rgb(255, 179, 136);
  border: solid black 2px;
  width: 5cm;
}

#questionDate {
  background-color: rgb(255, 179, 136);
  border: solid black 2px;
  color: white;
  margin: 2px;
}


/* ######################## NEW COLOURS ######################## */
html, body {
  margin: 0;
}

#app {

  width: auto;
  margin: auto;
}

#adminDashPage {
  min-height: 20cm;
}

.modulBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(155, 155, 155);
  border-bottom-left-radius: 4mm;
  border-bottom-right-radius: 4mm;
  
}

.moduler {
  border-radius: 4mm;
  min-width: 20cm;
  max-width: 30cm;
}

.modulHeader {
  cursor: pointer;
  padding: 1mm;
}

h2 {
  margin-left: 1mm;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.teamBox {
  margin: 2mm;
  background-color: rgb(182, 182, 182);
  padding: 2mm;
  border-radius: 4mm;
}

.weelky {
  height: 100%;
}